@media only screen and (max-width: 599px) {
  @font-face {
    font-family: myWeddingFont;
    src: url("fonts/dancing_script.ttf");
  }
  .block {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: white;
    color: rgb(204, 0, 0);
    font-family: myWeddingFont;
    background-image: url("./images/chinese_border.png");
    background-position: center center;
    background-size: 100% 100%;
  }
}
