/* FONT FAMILY */
@font-face {
  font-family: BaskerVilleFont;
  src: url("fonts/Baskervville-Regular.ttf");
}

@font-face {
  font-family: AlissonScript;
  src: url("fonts/Allison_Script.otf");
}

.fii-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  padding: 12px;
  text-decoration: none;
  color: black;
  font-family: BaskerVilleFont;
}
.fii-card > h1 {
  align-self: flex-start;
  text-align: left;
  color: #007a5d;
  margin: 0px;
}
.fii-card-category {
  text-align: left;
}
.fii-card-description {
  text-align: left;
}
.fii-card-price {
  color: rgb(200, 200, 200);
}
.fii-card-price > span {
  color: #007a5d;
}

@media only screen and (min-width: 1024px) {
  .fii-card {
    border-radius: 14px;
  }
  .fii-card > h1 {
    font-size: 1em;
  }
  .fii-card-category {
    margin: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  .fii-card-description {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 0.6em;
  }
  .fii-card-price {
    margin: 0px;
    color: rgb(200, 200, 200);
    font-size: 12px;
  }
  .fii-card-price > span {
    font-weight: 600;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .fii-card {
    border-radius: 14px;
  }
  .fii-card > h1 {
    font-size: 1em;
  }
  .fii-card-category {
    margin: 0px;
    font-size: 0.7em;
    font-weight: 600;
  }
  .fii-card-description {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 0.6em;
  }
  .fii-card-price {
    margin: 0px;
    color: rgb(200, 200, 200);
    font-size: 12px;
  }
  .fii-card-price > span {
    font-weight: 600;
  }
}

@media only screen and (max-width: 767px) {
  .fii-card {
    margin: 0px 20px 8px 20px;
    border-radius: 10px;
  }
  .fii-card > h1 {
    font-size: 14px;
  }
  .fii-card-category {
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
  }
  .fii-card-description {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 12px;
  }
  .fii-card-price {
    margin: 0px;
    color: rgb(200, 200, 200);
    font-size: 12px;
  }
  .fii-card-price > span {
    font-weight: 600;
  }
}
