@media only screen and (max-width: 599px) {
  @font-face {
    font-family: myWeddingFont;
    src: url("fonts/dancing_script.ttf");
  }

  .block2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .block2_1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: white;
    font-family: myWeddingFont;
    font-size: 18px;
    color: black;
    padding: 1em 1em 1em 1em;
  }

  .block2_2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url("./images/parisbckg.png");
    background-size: contain;
    background-repeat: no-repeat;
    font-family: myWeddingFont;
    font-size: 18px;
    color: white;
    padding: 1em 1em 1em 1em;
  }
  .redColor {
    color: rgb(170, 7, 7);
  }

  .text {
    font-weight: inherit;
    opacity: 0;
    transform: translateX(-5%);
    opacity: 0;
    transition: 1s all ease;
    color: black;
  }

  .text.active {
    transform: translateX(0%);
    opacity: 1;
  }

  @keyframes slide-left {
    0% {
      transform: translateX(10%);
      opacity: 0;
    }

    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  .boat {
    width: 30px;
    height: 30px;
    animation: slide-right 60s linear;
    animation-iteration-count: infinite;
  }

  @keyframes slide-right {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(1000%);
    }
  }
}
