.home {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .home {
    /* vertical-align: baseline; */
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }
}
