@media only screen and (max-width: 1366px) {
  @font-face {
    font-family: myWeddingFont;
    src: url("fonts/dancing_script.ttf");
  }
  .main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
      url("./images/Home2-md.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    color: white;
    font-family: myWeddingFont;
    font-size: 1.2em;
    font-weight: 100;
    filter: grayscale(100%);
    animation: coloring 0.5s ease-in forwards;
    animation-delay: 4s;
  }
  .top {
    display: flex;
    flex-direction: column;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @keyframes coloring {
    100% {
      filter: none;
    }
  }
  .red {
    color: rgb(170, 7, 7);
  }

  .title {
    font-weight: inherit;
    animation: slide-down 2s ease-out forwards;
    margin-bottom: 0px;
    color: black;
  }

  .wedding {
    font-weight: inherit;
    animation: slide-down 2s ease-out forwards;
    margin-top: 0px;
    color: black;
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }

    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .date {
    font-weight: inherit;
    opacity: 0;
    animation: slide-left 2s ease-out forwards;
    animation-delay: 2s;
    color: black;
  }

  .green {
    color: rgb(1, 108, 28);
  }

  @keyframes slide-left {
    0% {
      transform: translateX(10%);
      opacity: 0;
    }

    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 767px) {
  @font-face {
    font-family: myWeddingFont;
    src: url("fonts/dancing_script.ttf");
  }
  .main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
      url("./images/Home2-sm.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    color: white;
    font-family: myWeddingFont;
    font-size: 1.2em;
    font-weight: 100;
    filter: grayscale(100%);
    animation: coloring 0.5s ease-in forwards;
    animation-delay: 4s;
  }
  .top {
    display: flex;
    flex-direction: column;
  }
  @keyframes coloring {
    100% {
      filter: none;
    }
  }
  .red {
    color: rgb(170, 7, 7);
  }

  .title {
    /* font-weight: inherit; */
    animation: slide-down 2s ease-out forwards;
    margin-bottom: 0px;
    /* color: white; */
  }

  .wedding {
    /* font-weight: inherit; */
    animation: slide-down 2s ease-out forwards;
    margin-top: 0px;
    /* color: white */
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }

    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .date {
    font-weight: inherit;
    opacity: 0;
    animation: slide-left 2s ease-out forwards;
    animation-delay: 2s;
  }

  .green {
    color: rgb(1, 108, 28);
  }

  @keyframes slide-left {
    0% {
      transform: translateX(10%);
      opacity: 0;
    }

    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 599px) {
  @font-face {
    font-family: myWeddingFont;
    src: url("fonts/dancing_script.ttf");
  }
  .main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
      url("./images/Home2-sm.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    color: white;
    font-family: myWeddingFont;
    font-size: 1.2em;
    font-weight: 100;
    filter: grayscale(100%);
    animation: coloring 0.5s ease-in forwards;
    animation-delay: 4s;
    z-index: 1;
  }
  .top {
    display: flex;
    flex-direction: column;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  @keyframes coloring {
    100% {
      filter: none;
    }
  }
  .red {
    color: rgb(170, 7, 7);
  }

  .title {
    font-weight: inherit;
    animation: slide-down 2s ease-out forwards;
    margin-bottom: 0px;
  }

  .wedding {
    font-weight: inherit;
    animation: slide-down 2s ease-out forwards;
    margin-top: 0px;
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }

    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .date {
    font-weight: inherit;
    animation: slide-left 2s ease-out forwards;
    animation-delay: 2s;
  }

  .green {
    color: rgb(1, 108, 28);
  }

  @keyframes slide-left {
    0% {
      transform: translateX(10%);
      opacity: 0;
    }

    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}

.title {
  font-weight: inherit;
  color: white;
}

.wedding {
  font-weight: inherit;

  color: white;
}
.date {
  color: white;
}
