/* FONT FAMILY */
@font-face {
  font-family: BaskerVilleFont;
  src: url("fonts/Baskervville-Regular.ttf");
}

@font-face {
  font-family: AlissonScript;
  src: url("fonts/Allison_Script.otf");
}

.ii-card {
  box-sizing: border-box;
  display: flex;
  background-size: cover;
  color: rgb(245, 245, 245);
  text-decoration: none;
}
.ii-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-start;
  z-index: 1;
}

.ii-card-content-title {
  align-self: flex-start;
  text-align: left;
  font-family: AlissonScript;
}
.ii-card-content-text {
  align-self: flex-start;
  text-align: left;
  font-family: BaskerVilleFont;
}

@media only screen and (max-width: 599px) {
  .ii-card {
    border-radius: 12px;
    margin: 0px 20px 24px 20px;
    padding: 40% 0 0 0;
    box-shadow: 2px 2px 30px 5px rgba(142, 142, 142, 0.5);
  }
  .ii-card-content {
    margin: 10px 30px 10px 30px;
  }
  .ii-card-content-title {
    margin-bottom: 0px;
    max-width: 250px;
    font-size: 48px;
    font-weight: 400;
  }
  .ii-card-content-text {
    align-self: flex-start;
    text-align: left;
  }
}
