@font-face {
  font-family: BaskerVilleFont;
  src: url("fonts/Baskervville-Regular.ttf");
}

@font-face {
  font-family: AlissonScript;
  src: url("fonts/Allison_Script.otf");
}

@keyframes fade-left {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.io-title {
  align-self: center;
  font-family: AlissonScript;
  animation-delay: 0.5s;
  animation: fade-up 1s ease-out forwards;
  color: white;
}

.io-description {
  color: #e3ad98;
  font-family: BaskerVilleFont;
  animation-delay: 0.5s;
  animation: fade-left 1s ease-out forwards;
}

.io-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("./images/hoian_10.jpg");
}

@media only screen and (min-width: 1024px) {
  .io-main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .io-header {
    width: 100%;
  }
  .io-title {
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 0px;
  }
  .io-description {
    margin: 60px 80px 60px 80px;
  }
  .io-body {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    background-color: rgb(240, 240, 240);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .io-main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .io-title {
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 0px;
  }
  .io-description {
    margin: 60px 80px 60px 80px;
    line-height: 160%;
  }
  .io-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    padding: 60px;
    background-color: rgb(230, 230, 230);
  }
}

@media only screen and (max-width: 767px) {
  .io-main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .io-title {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 0px;
  }
  .io-description {
    margin: 40px;
    line-height: 160%;
  }
  .io-body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
