@font-face {
  font-family: BaskerVilleFont;
  src: url("fonts/Baskervville-Regular.ttf");
}

@font-face {
  font-family: AlissonScript;
  src: url("fonts/Allison_Script.otf");
}

.nb-main {
  width: 100%;
  display: flex;
}

@media only screen and (min-width: 1024px) {
  .nb-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
  .menu {
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .menu-item {
    background-color: rgba(245, 245, 245, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 3rem 0 3rem 0;
    font-family: BaskerVilleFont;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .menu-item:hover {
    background-color: rgba(245, 245, 245, 0.2);
    cursor: pointer;
  }
  #close-button {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nb-main {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }
  .menu {
    display: grid;
    grid-column: 2/5;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .menu-item {
    background-color: rgba(245, 245, 245, 0);
    color: rgb(255, 255, 255);
    border: none;
    padding: 3rem 0 3rem 0;
    font-family: BaskerVilleFont;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .menu-item:hover {
    background-color: rgba(245, 245, 245, 0.2);
    cursor: pointer;
  }
  #close-button {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .nb-main {
    flex-direction: column;
    justify-content: flex-end;
    z-index: 3;
  }
  .menu {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    list-style-type: none;
    border-color: #007a5d;
    border-width: 1rem;
    margin: 0 0 0 0;
    z-index: 3;
    padding-bottom: 60px;
  }
  .menu-no-display {
    display: none;
  }
  .menu-display {
    width: 100%;
    inset: 0;
  }

  .menu-item {
    height: 100%;
    width: 100%;
    font-size: 2rem;
    align-items: center;
    font-family: BaskerVilleFont;
    background-color: rgb(240, 240, 240);
    border: none;
    color: #007a5d;
  }
  .menu-item > p {
    box-sizing: border-box;
  }
  .menu-item:hover {
    background-color: #528d7f;
    color: rgb(240, 240, 240);
    cursor: pointer;
  }
  .menu-button {
    align-self: flex-end;
  }
  #close-button {
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    padding: 20px 20px 20px 20px;
  }
}
