/* FONT FAMILY */
@font-face {
  font-family: BaskerVilleFont;
  src: url("fonts/Baskervville-Regular.ttf");
}

@font-face {
  font-family: AlissonScript;
  src: url("fonts/Allison_Script.otf");
}

.tr-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
}

.tr-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("./images/transportation.jpg");
  background-size: cover;
}
.tr-title {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-family: AlissonScript;
  animation: fade-up 1s ease-out forwards;
  color: rgb(245, 245, 245);
}

.tr-description {
  margin: 0px 40px 0px 40px;
  font-family: BaskerVilleFont;
  color: rgb(245, 245, 245);
  animation-delay: 0.5s;
  animation: fade-left 1s ease-out forwards;
}
.tr-description > span {
  color: #e6a991;
  font-weight: 600;
  font-size: 20px;
}
.tr-block:nth-child(even) {
  background-color: white;
  color: black;
  text-align: justify;
}
.tr-block:nth-child(even) > h2 {
  color: #007a5d;
}
.tr-block:nth-child(odd) {
  background-color: rgb(245, 245, 245);
  color: black;
  text-align: justify;
}
.tr-block:nth-child(odd) > h2 {
  color: #007a5d;
}
.tr-block:nth-child(2) {
  background-color: #007a5d;
  color: white;
  text-align: justify;
}
.tr-block:nth-child(2) > h2 {
  color: white;
}
.tr-block > h2 {
  font-family: AlissonScript;
}
.tr-block > p {
  font-family: BaskerVilleFont;
}
.tr-block > p > span {
  color: #e6a991;
  font-weight: 600;
}

.tr-block > a > .tr-airport-image {
  display: block;
  width: 100%;
  object-fit: scale-down;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
}

@keyframes fade-left {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) {
  .tr-header {
    padding-bottom: 60px;
  }
  .tr-title > h1 {
    width: 100%;
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .tr-block {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 60px 0px 60px 0px;
  }
  .tr-block > h2 {
    font-size: 80px;
    grid-column: 2/3;
    margin: 0px 0px 60px 0px;
    font-weight: 400;
  }
  .tr-block > p {
    grid-column: 2/3;
    font-size: 18px;
    margin: 0px;
  }
  .tr-block > a {
    grid-column: 2/3;
    justify-self: center;
    padding: 0px;
    max-width: 800px;
  }

  .tr-block > a > .tr-airport-image {
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 30px 5px rgba(50, 50, 50, 0.9);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .tr-header {
    padding-bottom: 60px;
  }
  .tr-title > h1 {
    width: 100%;
    font-size: 100px;
    font-weight: 400;
    margin-bottom: 40px;
  }
  .tr-block {
    padding: 60px;
  }
  .tr-block > h2 {
    font-size: 80px;
    margin: 0px 0px 60px 0px;
    font-weight: 400;
  }
  .tr-block > p {
    font-size: 18px;
    margin: 0px;
  }
  .tr-block > a > .tr-airport-image {
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 30px 5px rgba(50, 50, 50, 0.9);
  }
}

@media only screen and (max-width: 767px) {
  .tr-header {
    padding-bottom: 40px;
  }
  .tr-title {
    margin-bottom: 20px;
  }
  .tr-title > h1 {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .tr-block {
    padding: 40px;
  }
  .tr-block > h2 {
    font-size: 48px;
    margin: 0px;
    font-weight: 400;
  }
  .tr-block > p {
    font-size: 14px;
    padding-top: 30px;
    margin-bottom: 10px;
  }
  .tr-block > a > .tr-airport-image {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 30px 5px rgba(50, 50, 50, 0.9);
  }
}
