@font-face {
  font-family: BaskerVilleFont;
  src: url("fonts/Baskervville-Regular.ttf");
}

@font-face {
  font-family: AlissonScript;
  src: url("fonts/Allison_Script.otf");
}

/* MAIN BLOCK */
.wp-main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: black;
}

/* HEADER */
.wp-header {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #e6a991;
}
.wp-header > h1 {
  font-family: AlissonScript;
  color: white;
  animation-delay: 0.5s;
  animation: fade-left 1s ease-out forwards;
}
.wp-header > p {
  font-family: BaskerVilleFont;
  animation-delay: 0.5s;
  animation: fade-left 1s ease-out forwards;
}

/* LOCATION VENUE BLOCK */
.wp-venue-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffe9e0;
}
.wp-venue-block > h2 {
  text-align: left;
  font-family: AlissonScript;
  color: #e6a991;
}
.wp-venue-block > .wp-venue-location-name {
  font-family: BaskerVilleFont;
  color: #007a5d;
}

.wp-venue-block > .wp-venue-location-address {
  font-family: BaskerVilleFont;
  color: black;
  text-align: left;
}
.wp-venue-block > a > .wp-venue-image {
  display: block;
  width: 100%;
  object-fit: scale-down;
  cursor: pointer;
}

.wp-venue-block > .wp-venue-location-description {
  font-family: BaskerVilleFont;
  color: black;
  text-align: left;
}
.wp-venue-block > .wp-venue-location-description > li {
  padding-left: 0px;
  list-style-type: none;
}

/* TIMELINE BLOCK */

.wp-timeline-block {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: rgb(250, 250, 250);
}
.wp-timeline-block > h2 {
  text-align: left;
  font-family: AlissonScript;
  color: #e6a991;
}

.wp-event {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  grid-template-rows: 1fr;
  font-family: BaskerVilleFont;
}
.wp-event:before {
  content: attr(data-date);
  text-align: left;
  color: #007a5d;
}

.wp-event > .wp-event-title {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  color: #007a5d;
}
.wp-event > .wp-event-description {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: justify;
}

@keyframes fade-left {
  0% {
    transform: translateX(10%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) {
  /* HEADER */
  .wp-header {
    padding-bottom: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("./images/weddingday-md.jpg");
  }
  .wp-header > h1 {
    font-size: 100px;
    font-weight: 400;
  }
  .wp-header > h1:nth-child(3) {
    margin: 0px;
  }
  .wp-header > p {
    font-weight: 400;
  }

  /* LOCATION VENUE BLOCK */
  .wp-venue-block {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
  .wp-venue-block > h2 {
    font-size: 80px;
    font-weight: 400;
    grid-column: 2/3;
  }

  .wp-venue-block > .wp-venue-location-name {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1em;
    grid-column: 2/3;
    text-align: left;
  }

  .wp-venue-block > .wp-venue-location-address {
    font-size: 0.7em;
    font-weight: 400;
    grid-column: 2/3;
  }

  .wp-venue-block > a > .wp-venue-image {
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 30px 5px rgba(142, 142, 142, 0.5);
  }
  .wp-venue-block > a {
    grid-column: 2/3;
  }

  .wp-venue-block > .wp-venue-location-description {
    font-size: 0.65em;
    padding-left: 0px;
    grid-column: 2/3;
    margin-bottom: 60px;
  }
  .wp-venue-block > .wp-venue-location-description > li {
    padding-left: 0px;
  }

  /* TIMELINE BLOCK */
  .wp-timeline-block {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }

  .wp-timeline-block > h2 {
    font-size: 3em;
    font-weight: 400;
    grid-column: 2/3;
  }

  .wp-event {
    margin-bottom: 40px;
    grid-column: 2/3;
  }
  .wp-event:before {
    font-size: 0.9em;
    font-weight: 600;
  }
  .wp-event > .wp-event-title {
    font-size: 0.9em;
    font-weight: 600;
  }
  .wp-event > .wp-event-description {
    font-size: 0.65em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* HEADER */
  .wp-main {
    min-width: 768px;
  }
  .wp-header {
    padding-bottom: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("./images/weddingday-md.jpg");
  }
  .wp-header > h1 {
    font-size: 100px;
    font-weight: 400;
  }
  .wp-header > h1:nth-child(3) {
    margin: 0px;
  }
  .wp-header > p {
    font-weight: 400;
  }

  /* LOCATION VENUE BLOCK */
  .wp-venue-block {
    width: 100%;
    padding: 20px 60px 60px 60px;
  }
  .wp-venue-block > h2 {
    font-size: 80px;
    font-weight: 400;
  }

  .wp-venue-block > .wp-venue-location-name {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 1em;
  }

  .wp-venue-block > .wp-venue-location-address {
    font-size: 0.7em;
    font-weight: 400;
  }

  .wp-venue-block > a > .wp-venue-image {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 30px 5px rgba(142, 142, 142, 0.5);
  }

  .wp-venue-block > .wp-venue-location-description {
    font-size: 0.65em;
    padding-left: 0px;
  }
  .wp-venue-block > .wp-venue-location-description > li {
    padding-left: 0px;
  }

  /* TIMELINE BLOCK */
  .wp-timeline-block {
    width: 100%;
    padding: 20px 60px 60px 60px;
  }

  .wp-timeline-block > h2 {
    font-size: 3em;
    font-weight: 400;
  }

  .wp-event {
    margin-bottom: 40px;
  }
  .wp-event:before {
    font-size: 0.9em;
    font-weight: 600;
  }
  .wp-event > .wp-event-title {
    font-size: 0.9em;
    font-weight: 600;
  }
  .wp-event > .wp-event-description {
    font-size: 0.65em;
  }
}

@media only screen and (max-width: 767px) {
  /* HEADER */
  .wp-header {
    padding-bottom: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),
      url("./images/weddingday-sm.jpg");
  }
  .wp-header > h1 {
    font-size: 60px;
    font-weight: 400;
  }
  .wp-header > h1:nth-child(3) {
    margin: 0px;
  }
  .wp-header > p {
    font-weight: 400;
  }

  /* LOCATION VENUE BLOCK */
  .wp-venue-block {
    width: 100%;
    padding: 20px 40px 40px 40px;
  }
  .wp-venue-block > h2 {
    font-size: 3em;
    font-weight: 400;
  }

  .wp-venue-block > .wp-venue-location-name {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 0.9em;
  }

  .wp-venue-block > .wp-venue-location-address {
    font-size: 0.65em;
    font-weight: 600;
  }

  .wp-venue-block > a > .wp-venue-image {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 30px 5px rgba(142, 142, 142, 0.5);
  }

  .wp-venue-block > .wp-venue-location-description {
    font-size: 0.8em;
    padding-left: 0px;
  }
  .wp-venue-block > .wp-venue-location-description > li {
    padding-left: 0px;
  }

  /* TIMELINE BLOCK */
  .wp-timeline-block {
    width: 100%;
    padding: 20px 40px 40px 40px;
  }

  .wp-timeline-block > h2 {
    font-size: 3em;
    font-weight: 400;
  }

  .wp-event {
    margin-bottom: 40px;
  }
  .wp-event:before {
    font-size: 0.95em;
    font-weight: 600;
  }
  .wp-event > .wp-event-title {
    font-size: 0.95em;
    font-weight: 600;
  }
  .wp-event > .wp-event-description {
    font-size: 0.8em;
  }
}
